<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h3> Formularios y Listas random </h3>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/carlist">Lista Autos</a>
          <a class="nav-link" href="/carform">Formulario Autos</a>
          <a class="nav-link" href="/albumlist">Lista Albums</a>
          <a class="nav-link" href="/albumform">Formulario Albums</a>
          <a class="nav-link" href="/productlist">Lista Productos</a>
          <a class="nav-link" href="/productform">Formulario Productos</a>

          
        </div>
      </div>
    </div>

  </nav>
</body>
</html>